{% extends 'base.html' %}
{% block title %}{{ block.super }}-추가{% endblock %}
{% block content %}
    <div class="container">
        <div class="offset-md-3 col-md-6 offset-lg-4 col-lg-4">
            <form method="post" class="">
                {% csrf_token %}
                {% for field in form %}
                    {{ field.label }}<br/>
                    {{ field }}<br/>
                {% endfor %}
                <input type="submit" value="추가" class="btn btn-success" />
            </form>
        </div>
    </div>
{% endblock %}