{% extends 'base.html' %}
{% block title %}{{ block.super }}-리스트{% endblock %}
{% block content %}
<div class="container">
<!--
    <a href="{% url 'bookmark:add_item' request.resolver_match.kwargs.pk %}" class="btn btn-info mb-3">
        추가하기
    </a>
-->
    {% include 'back_button.html' %}

    <!-- TODO: responsive table -->
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>사이트 이름</th>
                <th>URL</th>
                <th>생성시간</th>
                <th>수정시간</th>
                <!--
                    <th>수정하기</th>
                    <th>삭제하기</th>
                -->
            </tr>
        </thead>
        <tbody>
            {% load bookmark_extra %}
            {% for bookmark in object_list %}
                <tr>
                    <td>{{ page_obj.number | item_num:forloop.counter }}</td>
                    <td>
                        <a href="{% url 'bookmark:public_item_detail' nickname=request.resolver_match.kwargs.nickname list_pk=request.resolver_match.kwargs.pk pk=bookmark.id %}">
                            {{ bookmark.site_name }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ bookmark.site_url }}" target="_blank">
                            {{ bookmark.site_url }}
                        </a>
                    </td>
                    <td>{{ bookmark.created_at }}</td>
                    <td>{{ bookmark.updated_at }}</td>
                    <!--
                        <td>
                            <a href="{% url 'bookmark:update_item' list_pk=request.resolver_match.kwargs.pk pk=bookmark.id %}" class="btn btn-success">
                                수정
                            </a>
                        </td>
                        <td>
                            <a href="{% url 'bookmark:delete_item' list_pk=request.resolver_match.kwargs.pk pk=bookmark.id %}" class="btn btn-danger">
                                삭제
                            </a>
                        </td>
                    -->
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if is_paginated %}
        <ul class="pagination pagination-sm justify-content-center">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="/bookmark/{{ request.resolver_match.kwargs.pk }}/?page={{ page_obj.previous_page_number }}">
                            previous
                        </a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#">previous</a>
                    </li>
                {% endif %}
                {% for page_num in page_obj.number|prange:page_obj.paginator.num_pages %}
                    {% if page_num == page_obj.number %}
                        <li class="page-item disabled">
                            <a class="page-link" href="/bookmark/{{ request.resolver_match.kwargs.nickname }}/{{ request.resolver_match.kwargs.pk }}/?page={{ page_num }}">
                                {{ page_num }}
                            </a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="/bookmark/{{ request.resolver_match.kwargs.nickname }}/{{ request.resolver_match.kwargs.pk }}/?page={{ page_num }}">
                                {{ page_num }}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="/bookmark/{{ request.resolver_match.kwargs.nickname }}/{{ request.resolver_match.kwargs.pk }}/?page={{ page_obj.next_page_number }}">
                            next
                        </a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#">next</a>
                    </li>
                {% endif %}
        </ul>
    {% endif %}
</div>
{% endblock %}