<!doctype html>
<html lang="ko">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% block css %}{% endblock %}

    <title>{% block title %}북마크{% endblock %}</title>
  </head>
  <body>
    <header class="bg-light">
        <nav class="container p-3 mb-3 navbar navbar-expand-lg navbar-light">
            <h2 class="col-3 pl-0"><a href="{% url 'bookmark:index' %}" class="navbar-brand">Django Bookmark</a></h2>

            <ul class="navbar-nav col-9 justify-content-end">
                {% if not request.user.is_authenticated %}
                    <li class="nav-item">
                        <a href="{% url 'accounts:login' %}" class="nav-link">로그인</a>
                    </li>
                    <li class="nav-item disabled">
                        <a href="{% url 'accounts:register' %}" class="nav-link">회원가입</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="{% url 'accounts:logout' %}" class="nav-link">로그아웃</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'accounts:password_change' %}" class="nav-link">비밀번호 변경</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>

    </footer>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    {% block scripts %}{% endblock %}
  </body>
</html>