<!doctype html>
<html lang="ko" style="height: 100%; ">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    {% block css %}{% endblock %}

    <title>{% block title %}북마크{% endblock %}</title>
  </head>
  <body>
    <header class="bg-dark">
        <nav class="container-fluid px-sm-5 mb-3 navbar navbar-expand-lg navbar-dark">
            <h2 class="col-3 pl-0"><a href="{% url 'bookmark:index' %}" class="navbar-brand">Django Bookmark</a></h2>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="col-9 justify-content-end collapse navbar-collapse" id="navbarToggler">
                <ul class="navbar-nav">
                    {% if not request.user.is_authenticated %}
                        <li class="nav-item">
                            <a href="{% url 'accounts:login' %}" class="nav-link">로그인</a>
                        </li>
                        <li class="nav-item disabled">
                            <a href="{% url 'accounts:register' %}" class="nav-link">회원가입</a>
                        </li>
                        <li class="nav-item disabled">
                            <a href="{% url 'accounts:password_reset' %}" class="nav-link">비밀번호 리셋</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a href="{% url 'accounts:logout' %}" class="nav-link">로그아웃</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'accounts:password_change' %}" class="nav-link">비밀번호 변경</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer class="bg-dark text-white px-5 py-4">
        <div>
            &copy;2019 nab5m - All rights reserved.<br/>
            nab5m.pythonanywhere.com is maintained by JunYoung, Kim.<br/>
        </div>
        <div class="text-right" style="font-size: 1.3rem;">
            <a href="http://github.com/nab5m/" target="_blank" class="text-white p-1" style="text-decoration: none;">
                <i class="fab fa-github"></i>
            </a>
            <a href="https://www.facebook.com/profile.php?id=100011737238706" target="_blank" class="text-white p-1" style="text-decoration: none;">
                <i class="fab fa-facebook"></i>
            </a>
        </div>
    </footer>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    {% block scripts %}{% endblock %}
    <script>
        if($('body').height() < $('html').height()) {
            let $body = $('body');
            let $footer = $('footer');
            $body.css('min-height', '100%');
            $body.css('position', 'relative');

            $footer.css('position', 'absolute');
            $footer.css('bottom', '0');
            $footer.css('width', '100%');
        }
    </script>
  </body>
</html>